@import "tailwindcss";
/* Setting fitur dark mode */
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui" {
  themes: light --default, dark;
  root: ":root";
  /* include: ;
  exclude: ;
  prefix: ; */
}

@plugin "daisyui/theme" {
   name: "light";
   default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(12% 0.042 264.695);
  --color-primary: oklch(0% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(0% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(70% 0.213 47.604);
  --color-accent-content: oklch(98% 0.016 73.684);
  --color-neutral: oklch(13% 0.028 261.692);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(28.822% 0.022 277.508);
  --color-base-200: oklch(26.805% 0.02 277.508);
  --color-base-300: oklch(24.787% 0.019 277.508);
  --color-base-content: oklch(97.747% 0.007 106.545);
  --color-primary: oklch(75.461% 0.183 346.812);
  --color-primary-content: oklch(15.092% 0.036 346.812);
  --color-secondary: oklch(74.202% 0.148 301.883);
  --color-secondary-content: oklch(14.84% 0.029 301.883);
  --color-accent: oklch(83.392% 0.124 66.558);
  --color-accent-content: oklch(16.678% 0.024 66.558);
  --color-neutral: oklch(39.445% 0.032 275.524);
  --color-neutral-content: oklch(87.889% 0.006 275.524);
  --color-info: oklch(88.263% 0.093 212.846);
  --color-info-content: oklch(17.652% 0.018 212.846);
  --color-success: oklch(87.099% 0.219 148.024);
  --color-success-content: oklch(17.419% 0.043 148.024);
  --color-warning: oklch(95.533% 0.134 112.757);
  --color-warning-content: oklch(19.106% 0.026 112.757);
  --color-error: oklch(68.22% 0.206 24.43);
  --color-error-content: oklch(13.644% 0.041 24.43);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  font-family: "Plus Jakarta Sans", Roboto, "Open Sans", Arial, sans-serif;
  height: 100%;

  @apply bg-base-200 h-full max-w-screen;
}

.border-test {
  @apply border-2 border-sky-500;
}

.border-test2 {
  @apply border-2 border-rose-500;
}

.dismiss-trigger {
  @apply cursor-pointer inline-flex items-center justify-center bg-gradient-to-t from-[#9B1B1B] to-[#FF181B] hover:bg-gradient-to-b text-white text-sm px-6 py-2 rounded-lg shadow-[0px_0px_7px_1px_#F6191C] hover:shadow-[0px_2px_20px_1px_#F6191C] border-0;
}

.jabnet-btn-template {
  @apply text-center cursor-pointer border-none inline-flex items-center justify-center text-white text-sm px-3 py-2 rounded-md min-w-20 transition duration-1000 ease-in-out bg-gradient-to-r hover:bg-gradient-to-l;
}

.record-action-transition {
  @apply overflow-hidden max-h-0 transition-all duration-1000 ease-in-out border-none;
}

.record-action-transition.open {
  @apply max-h-24 overflow-hidden transition-all duration-1000 ease-in-out;
}
